/* *{padding: 0;
margin: 0;}
 */





/* ----- Font ----- */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ----- Shared Styles ----- */
.display-flex{
    display: flex;
}
.share-margin{
    margin-top: 130px;
    margin-bottom: 130px;
}
.share-font-size{
    font-size: 45px;
    font-weight: bold;
}
.share-font-description{
    font-size: 16;
}


/* ----- Colour ----- */
 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.dark3{
    color: rgba(114, 114, 114, 1);
}
.bark1{
    color: rgba(19, 19, 19, 1);
}

 /* ----- NAVBAR ----- */
 .navbar{
    justify-content: space-between;
    align-items: center;
 }

 .nav-item{
    list-style: none;
    margin-right: 40px;
 }

 .nav-link {
    text-decoration: none;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);

 }

 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }

 .brand{
    font-size: 3rem;
    font-weight: 700;
 }


 /* ----- Banner ----- */
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
 }

 .banner-title{
    font-weight: 700;
    font-size: 4rem;
 }

  .banner-image{
    width: 100%;
    padding-bottom: 40px;
 }

 /* ----- Button ----- */
 .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    padding: 20px 26px;
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    margin-bottom: 50px;
 }

/* ----- Main ----- */
 main{
    max-width: 1440px;
    margin: 0 auto;
 }

/* ----- Teams Section ----- */
 .team{
    align-items: center;
 }

 .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 24px;
 }

 .our-features{
    margin-left:130px;
    max-width: 537px;
    max-height: 304px;
 }

 .quick-list{
    font-size: 45px;
    font-weight:lighter;
 }
  .features{
    font-size: 45px;
    color:rgba(255, 144, 14, 1);
  }

/* -- Features you will love & enjoy -- */




/* -- Some Facts -- */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:124px;
}
.fact-card{
    border: solid 1px #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    margin: 5px 0px;
    font-size: 2.8rem;
    font-weight: 600px;
}
.fact-name{
    font-size: 20px;
    margin-top: 10px;
}
.fact-description{
    max-width: 542px;
    margin-bottom: 100px;
}
.section-title{
    margin-bottom: 7px 0px;
}

 /* -- Our Sponspore -- */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }

  .sonsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
.sonsor-companies img{
    filter: grayscale(100%);
}

/* -- Features you will love & enjoy -- */
 .feature-section-title{
    border-left: #FF900E 5px solid;
    padding-left: 20px;
 }

 .feature-card .feature-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
    
 }
 .feature-card{
    padding: 30px;
    /* border: 20px solid gold; */
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
 }

 .feature{
    gap:100px;
 }
 #year{
    font-size: 4.06rem;
    font-weight: bold;
 }
 #experience{
    font-size: 1.6rem;
    font-weight: 500;
 }
 .experience-btn-primary{
    padding: 46px;
    border-radius: 8px;
    margin-left: -50px;
    margin-top: -92px;
    background-color: #FF900E;
    color: white;
    border: none;
 }

 /* ----- Footer ----- */
 .footer{
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    margin-top: 130px;
    
 }
 .footer-title{
    background-color: rgba(255, 244, 231, 1);
    text-align: center;
    padding: 39px;
    border-radius: 8px;
 }


 /* ----- Responsive Media Query ----- */

 /* -- short size device -- */

@media screen and (max-width: 576px){

    .navbar, .nav-links, .team{
     flex-direction: column;  
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);

    }
    .our-features{
        margin: 50px;
    }
    .facts-container{
     grid-template-columns: repeat(1, 1fr);
     justify-items: center;
    }
    .sonsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
        justify-items: center;
    }
    .feature{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
    }

    .footer{
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 130px;
    justify-items: center;
    
 }

}


/* -- medium size device -- */

@media screen and (min-width: 576px) and (max-width: 992px){
.team{
    flex-direction: column;
    }

   .our-features{
        margin: 50px;
    }

    .facts-container{
     grid-template-columns: repeat(2, 1fr);
    }

    .sonsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
        justify-items: center;
    }
     .feature-img img{
        width: 100%;
    }
  .footer{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 130px;
 }
}